.header__logo {
  max-width: 143px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}

@media (max-width: 898px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    max-width: 104px;
    margin-bottom: 32px;
  }
}
