.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(282px, 318px) 24px;
  grid-template-rows: minmax(43px, 1fr) 24px;
  gap: 6px 17px;
  align-items: baseline;
}

@media (max-width: 720px) {
  .profile__info {
    margin: 14px auto 36px;
    justify-content: center;
  }
}



@media (max-width: 598px) {
  .profile__info {
    max-width: 282px;
    margin: 14px auto 28px;
    grid-template-columns: 201px 18px;
    grid-template-rows: minmax(38px, 1fr) 18px;
    gap: 0;
  }
}
