.popup__close-button {
  position: absolute;
  top: -42px;
  right: -42px;
  max-width: 40.7px;
  width: 100%;
  background: none;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  line-height: 0;
  padding: 0 0 40.7px 0;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s ease-in;
}

@media (max-width: 720px) {
  .popup__close-button {
    max-width: 30px;
    padding: 0 0 30px 0;
    top: -31px;
    right: -31px;
  }
}

@media (max-width: 425px) {
  .popup__close-button {
    max-width: 30px;
    padding: 0 0 30px 0;
    top: -50px;
    right: 40%;
  }
}
