.card__like-button {
  background-color:#ffffff;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  line-height: 0;
  margin: 22px 20px 3px 4px;
  max-width: 21px;
  width: 100%;
  padding: 0 0 19px 0;
  background-image: url(../../../images/like_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  outline: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s ease-in;
}


