.popup__title_info-tooltip {
  text-align: center;
  margin: 32px 36px 60px;
}

@media (max-width: 720px) {
  .popup__title_info-tooltip {
    font-size: 20px;
    line-height: 24px;
    margin: 40px 18px 50px;
  }
}
