.profile__title {
  max-width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 133%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 598px) {
  .profile__title {
  font-size: 27px;
  line-height: 207%;
  text-align: center;
  }
}
