.profile__add-button {
  background-color: #000000;
  border: 2px solid #ffffff;
  box-shadow: none;
  box-sizing: border-box;
  line-height: 0;
  margin: 0 0 0 auto;
  max-width: 150px;
  width: 100%;
  padding: 0 0 50px 0;
  background-image: url(../../../images/add_button.svg);
  background-repeat: no-repeat;
  background-size: none;
  background-position: center;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s ease-in;
}

@media (max-width: 720px) {
  .profile__add-button {
    margin: 0 auto;
    max-width: 336px;
  }
}

@media (max-width: 598px) {
  .profile__add-button {
    max-width: 282px;
  }
}
