/*vendor*/
@import url(./vendor/normalize.css);

/*fonts*/
@import url(./fonts/inter.css);

/*root*/
@import url(./blocks/root/root.css);

/*page*/
@import url(./blocks/page/page.css);

/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__list/header__list.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_type_exit/header__link_type_exit.css);
@import url(./blocks/header/__link/_type_email/header__link_type_email.css);

/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/*cards*/
@import url(./blocks/cards/cards.css);

/*card*/
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__body/card__body.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__remove-button/card__remove-button.css);
@import url(./blocks/card/__remove-button/_visible/card__remove-button_visible.css);
@import url(./blocks/card/__image-button/card__image-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);

/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/*auth-page*/
@import url(./blocks/auth-page/auth-page.css);
@import url(./blocks/auth-page/__container/auth-page__container.css);
@import url(./blocks/auth-page/__title/auth-page__title.css);
@import url(./blocks/auth-page/__form/auth-page__form.css);
@import url(./blocks/auth-page/__fieldset/auth-page__fieldset.css);
@import url(./blocks/auth-page/__input/auth-page__input.css);
@import url(./blocks/auth-page/__sumbit-button/auth-page__sumbit-button.css);
@import url(./blocks/auth-page/__caption-text/auth-page__caption-text.css);
@import url(./blocks/auth-page/__link-text/auth-page__link-text.css);
@import url(./blocks/auth-page/__link/auth-page__link.css);

/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_create/popup__container_create_form.css);
@import url(./blocks/popup/__container/_create/popup__container_create_view.css);
@import url(./blocks/popup/__container/_create/popup__container_create_info-tooltip.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_info-tooltip/popup__title_info-tooltip.css);
@import url(./blocks/popup/__info-tooltip-icon/popup__info-tooltip-icon.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_avatar-edit/popup__input_avatar-edit_link.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disapled/popup__save-button_disabled.css);
@import url(./blocks/popup/__save-button/_confirm-delete/popup__save-button_confirm-delete.css);
@import url(./blocks/popup/_image-view/popup_image-view.css);
@import url(./blocks/popup/__figure-content/popup__figure-content.css);
@import url(./blocks/popup/__figure-img/popup__figure-img.css);
@import url(./blocks/popup/__figure-caption/popup__figure-caption.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);

